<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Heroku Java Spring Boot Canvas Demo</title>
		<script type="text/javascript" src="/canvas-js-sdk/js/canvas-all.js"></script>
		<script type="text/javascript" src="/json2.js"></script>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/design-system/2.16.2/styles/salesforce-lightning-design-system.min.css"
			integrity="sha512-4zTIO7L0OiCfwrJ0qx1l7FJzVFtJIXCtBjtxzh1cPEaocVlntVXooqrXCf6jk7yENLcymWklHY/tIikmDCF64A=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
	</head>
	<body>
		<div class="slds-grid slds-gutters slds-grid_vertical">
			<div class="slds-col">
				<img src="spring-boot-logo.png" class="slds-media" alt="Spring Boot Logo" style="max-height:100px" />
				<h1 class="slds-text-heading_large slds-m-bottom_xx-small">Heroku Java Spring Boot Canvas Demo</h1>
				<h2 class="slds-text-heading_medium slds-m-bottom_xx-small">Canvas POST Signed Request</h2>
				<p>
					Hello <span id="fullName"></span>. This is a web app written in Java using Spring Boot embedded in your Salesforce page (It could also be
					written in any other language).
				</p>
				<p>It is aware of its environment. For example, here are a few things it knows:</p>
			</div>
			<div class="slds-col">
				<div class="user-card">
					<article class="slds-tile slds-media">
						<div class="slds-media__figure">
							<span class="slds-avatar slds-avatar_circle slds-avatar_medium">
								<img id="userPhoto" class="slds-media" />
							</span>
						</div>
						<div class="slds-media__body">
							<h3 class="slds-tile__title slds-truncate" id="fullName"></h3>
							<div class="slds-tile__detail">
								<dl class="slds-list_horizontal slds-wrap">
									<dt class="slds-item_label slds-text-color_weak slds-truncate" title="Username">Username:</dt>
									<dd class="slds-item_detail slds-truncate" id="username"></dd>
									<dt class="slds-item_label slds-text-color_weak slds-truncate" title="Object Type">Object Type:</dt>
									<dd class="slds-item_detail slds-truncate" id="objectType"></dd>
									<dt class="slds-item_label slds-text-color_weak slds-truncate" title="Record Id">Record Id:</dt>
									<dd class="slds-item_detail slds-truncate" id="recordId"></dd>
								</dl>
							</div>
						</div>
					</article>
				</div>
			</div>
			<div class="slds-col">
				<p>
					It can also access more data in Salesforce using the REST APIs. With context and APIs, Canvas makes it easy to integrate applications
					written in any language inside your Salesforce pages.
				</p>
			</div>
			<div class="slds-col">
				<div class="slds-form-element">
					<div class="slds-form-element__control">
						<div class="slds-grid slds-gutters">
							<div class="slds-col slds-size_1-of-2">
								<input type="text" class="slds-input" placeholder="Hello Chatter from Spring Boot!" id="post" />
							</div>
							<div class="slds-col slds-size_1-of-2">
								<button class="slds-button slds-button_brand" type="button" onclick="postToChatter();">Post to Chatter</button>
							</div>
						</div>
					</div>
				</div>
				<h1 class="slds-text-heading_medium slds-m-around_xx-small">List of Chatter Users</h1>
				<div id="chatter-users"></div>
			</div>
			<div class="slds-col">
				<div class="slds-form-element">
					<div class="slds-form-element__control">
						<div class="slds-grid slds-gutters">
							<div class="slds-col slds-size_1-of-2">
								<input type="text" class="slds-input" placeholder="Hello Canvas from Spring Boot!" id="canvasEventMessage" />
							</div>
							<div class="slds-col slds-size_1-of-2">
								<button class="slds-button slds-button_brand" type="button" onclick="fireEvent();">Fire Event</button>
							</div>
						</div>
					</div>
				</div>
				<h1 class="slds-text-heading_medium slds-m-around_xx-small">Listening to Canvas Events</h1>
				<div id="messages"></div>
			</div>
			<div class="slds-col">
				<h1 class="slds-text-heading_medium slds-m-around_xx-small">Listening to Platform Events</h1>
				<div id="streamingEvents"></div>
			</div>
		</div>

		<script th:inline="javascript">
			if (self === top) {
				// Not in Iframe
				alert("This canvas app must be included within an iframe");
			}
			function getChatterUsers() {
				// Reference the Chatter user's URL from Context.Links object.
				var chatterUsersUrl = sr.context.links.chatterUsersUrl;

				// Make an XHR call back to salesforce through the supplied browser proxy.
				Sfdc.canvas.client.ajax(chatterUsersUrl, {
					client: sr.client,
					success: function (data) {
						// Make sure the status code is OK.
						if (data.status === 200) {
							data.payload.users.forEach((u) => {
								var card = `<div class="chatter-user">
									<div class="slds-media">
										<div class="slds-media__figure">
											<span class="slds-avatar slds-avatar_large">
												<img class="slds-media" alt="${u.displayName}" src="${u.photo.smallPhotoUrl}" title="User avatar" />
											</span>
										</div>
										<div class="slds-media__body">
											<p>${u.displayName}</p>
										</div>
									</div>
								</div>`;
								var div = document.createElement("div");
								div.innerHTML = card;
								document.querySelector("#chatter-users").appendChild(div);
							});
						}
					},
				});
			}
			function postToChatter() {
				var post = Sfdc.canvas.byId("post").value;
				// Reference the Chatter user's URL from Context.Links object.
				var url = sr.context.links.chatterFeedsUrl + "/news/" + sr.context.user.userId + "/feed-items";
				var body = { body: { messageSegments: [{ type: "Text", text: post }] } };

				Sfdc.canvas.client.ajax(url, {
					client: sr.client,
					method: "POST",
					contentType: "application/json",
					data: JSON.stringify(body),
					success: function (data) {
						if (201 === data.status) {
							alert("Success");
						}
					},
				});
			}
			function fireEvent() {
				console.log(sr.client);
				var text = document.querySelector("#canvasEventMessage").value;
				Sfdc.canvas.client.publish(sr.client, { name: "suggestion", payload: { recommendation: text } });
				console.log("Canvas sent", payloadObj);
			}
			function listenEvents() {
				Sfdc.canvas.client.subscribe(sr.client, {
					name: "recordchanged",
					onData: function (e) {
						console.log("Canvas recevied", e);
						var para = document.createElement("div");
						para.classList.add("slds-card");
						para.classList.add("slds-p-around_medium");
						var node = document.createTextNode("Got data at => " + new Date() + JSON.stringify(e));
						para.appendChild(node);
						document.querySelector("#messages").appendChild(para);
					},
				});
			}
			function listenStreamingEvents() {
				Sfdc.canvas.client.subscribe(sr.client, {
					name: "sfdc.streamingapi",
					params: {
						topic: "/event/CanvasEvent__e",
					},
					onData: function (data) {
						console.log("onData done", data);
						var para = document.createElement("div");
						para.classList.add("slds-card");
						para.classList.add("slds-p-around_medium");
						var node = document.createTextNode("Got Platform Event data at => " + new Date() + JSON.stringify(data));
						para.appendChild(node);
						document.querySelector("#streamingEvents").appendChild(para);
					},
					onComplete: function (data) {
						console.log("onComplete done", data);
					},
				});
			}

			var sr = {};
			Sfdc.canvas(function () {
				var signedRequest = /*[[${signedRequest}]]*/ "";
				sr = JSON.parse(signedRequest);
				Sfdc.canvas.byId("userPhoto").src = sr.context.user.profileThumbnailUrl;
				Sfdc.canvas.byId("fullName").innerHTML = sr.context.user.fullName;
				Sfdc.canvas.byId("username").innerHTML = sr.context.user.userName;
				Sfdc.canvas.byId("objectType").innerHTML = sr.context.environment.record.attributes.type;
				Sfdc.canvas.byId("recordId").innerHTML = sr.context.environment.record.Id;
				Sfdc.canvas.client.autogrow(sr.client);
				getChatterUsers();
				listenEvents();
				listenStreamingEvents();
			});
		</script>
	</body>
</html>
